<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:23:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BorrowerRegistration.mySetUp()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">&gt;&gt;mySetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:31:04</td>   <td>471237</td> <td>&nbsp;</td><td title="&lt;&lt;BorrowerRegistration.tearDown()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:23:23</td>   <td>10767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test001SocialSignUp()[pri:1, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test001SocialSignUp</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:24:16</td>   <td>63638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test002ProfessionalDetails()[pri:2, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test002ProfessionalDetails</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:24:46</td>   <td>93108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test003LocationAndCreditDetails()[pri:3, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test003LocationAndCreditDetails</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:25:06</td>   <td>113665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test004LoanRequirement()[pri:4, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test004LoanRequirement</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:25:16</td>   <td>123435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test005AssessmentFee()[pri:5, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test005AssessmentFee</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:26:05</td>   <td>172367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test006LiveKyc()[pri:6, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test006LiveKyc</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:26:57</td>   <td>224264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test007AdharCard()[pri:7, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test007AdharCard</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:27:40</td>   <td>267003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test008SubmitBankStatement()[pri:8, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test008SubmitBankStatement</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/04/19 16:29:21</td>   <td>368532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test009Enach()[pri:9, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test009Enach</td> 
  <td>main@609656250</td>   <td></td> </tr>
</table>
